/* The container holding the questions/answers can scroll if needed */

#columns-container {
    height: 100vh;
    margin: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#orange-container {
    background-color: #E27B00;
}

#faq-title {
    font-family: 'Playfair Display SC', serif;
    font-size: 48px;
    text-align: center;
}

#light-container {
    overflow-y: scroll;
}

#questions-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 1rem;
}

.question {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin: 0.5rem 2rem;
}

.question:hover {
    cursor: pointer;
}

.answer {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    margin: 0.75% 2rem 1% 2rem;
    text-indent: 20px;
}

#start-btn {
    margin: 2rem auto;
    width: 90%;
}

#start-btn:hover {
    transition: 0.5s ease-in-out;
}


/* Responsive styling */

@media screen and (max-width: 768px) {

    #questions-container {
        height: 100vh;
        margin-bottom: 3rem;
        overflow-y: scroll;
    }

    #orange-container {
        height: 10vh;
    }

    .question {
        font-size: 1.5rem;
        margin-left: 0;
        margin-right: 0;
    }

    .answer {
        margin-left: 0;
        margin-right: 0;
    }
}
