

#columns-container {
    height: 100vh;
    margin: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#orange-container {
    background-color: #E27B00;
}

#faq-title {
    font-family: 'Playfair Display SC', serif;
    font-size: 48px;
    text-align: center;
}

#light-container {
    overflow-y: scroll;
}

#questions-container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 1rem;
}

.question {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.question:hover {
    cursor: pointer;
}

.answer {
    margin-bottom: 4%;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    margin-top: 0.75%;
    text-indent: 20px;
    margin-left: 2rem;
    margin-right: 2rem;
}

@media screen and (max-width: 768px) {
    #orange-container {
        height: 10vh;
    }

    
}