/* Styling for the Landing Page (first screen) */

/* Layout/image styling */

#columns-container {
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
}
  
#landing-img-container {
    background-color: #E27B00;
}

#landing-content {
    margin-left: 3em;
    margin-right: 3em;
    padding-right: 25em;
    flex-direction: column;
}

#landing-title {
    font-family: 'Playfair Display SC', serif;
}

#landing-description {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
}

#dumbbell-img {
    max-height: 85%;
}

/* Styling for the buttons; extends the Bulma framework */

#get-started-btn {
    margin-top: 5rem;
}

#log-in-btn:hover {
    background-color: #E27B00;
    color: white;
}

#get-started-btn:hover, #log-in-btn:hover, #questions-btn:hover {
    transition: 0.5s ease-in-out;
}
  
/* Simplifies the layout for smaller devices */

@media screen and (max-width: 768px) {

    #landing-content-container {
        height: 92%;
        justify-content: center;
    }

    #landing-content {
        text-align: center;
        justify-content: center;
        padding-right: 0;
    }

    #landing-title {
        margin-left: auto;
        margin-right: auto;
    }

    #landing-img-container {
        height: 50vh;
    }
  
    #dumbbell-img {
        display: none;
    }

    #questions-btn {
        margin-bottom: 5rem;
    }
    
}