/* Styling for the Landing Page (first screen) */

/* Layout/image styling */

#columns-container {
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
}
  
#workout-orange-container {
    background-color: #E27B00;
}

#exercise-container {
    width: 90%;
    height: 90%;
    background-color: hsl(0, 0%, 96%);
    border: 5px solid black;
    border-radius: 15px;
    overflow-y: scroll;
    box-shadow: 5px 5px 10px black;
}

.custom-title {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 48px;
}

th {
    font-size: 32px;
}

td {
    font-size: 24px;
}

tfoot {
    font-size: 24px;
    font-weight: bold;
}

/* Holds the ten minute countdown timer */

#timer-container {
    width: 90%;
    height: 90%;
    background-color: hsl(0, 0%, 96%);;
    border: 5px solid black;
    border-radius: 15px;
    overflow-y: scroll;
    box-shadow: 5px 5px 10px black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#start-workout-btn {
    width: 90%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

#start-workout-btn:hover {
    transition: 0.5s ease-in-out;
}

#time-left {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.custom-select {
    background-color: #000000;
    color: white;
}

#circle-timer-container {
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-size: 84px;
    text-align: center;

}
  
/* Simplifies the layout for smaller devices */

@media screen and (max-width: 768px) {

    #workout-orange-container, #workout-light-container {
        height: 50vh;
    }
    
}