/* Styling for the Log In Page */

/* The main container has position relative so that the form can be positioned absolutely
and use z-index (so the form appears on top) */

#main-login-container {
    background-color: hsl(0, 0%, 96%);
}

#relative-div {
    position: relative;
    width: 0;
    height: 0;
    border-top: 100vh solid #E27B00;
    border-right: 100vw solid transparent;
}

/* Styling to ensure the form always appears at the center of the page */

#form-container {
    width: 60vw;
    height: 60vh;
    position: absolute;
    left: 50vw;
    margin-left: -30vw;
    top: -100vh;
    margin-top: 20vh;
    z-index: 2;
    border: 7px solid #273746;
    box-shadow: 10px 10px 20px black;
    border-radius: 20px;
    padding-left: 7rem;
    padding-right: 7rem;
}

/* Typography styling */

#login-form-title {
    font-family: 'Playfair Display SC', serif;
    text-align: right;
    font-size: 4rem;
}

.custom-label {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
}

/* Slows down the transition between colors */

#log-in-submit:hover {
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;

}

/* To ensure the page is responsive for tablets/mobile devices */

@media screen and (max-width: 768px) {

    #login-form-title {
        font-size: 7vw;
    }

    #form-container {
        padding-left: 2rem;
        padding-right: 2rem;
        width: 80vw;
        margin-left: -40vw;
    }
    
}